<div class = "container">
	<div class="row">
		<div class="about_box">
			<h1 class="about_title">どういうサイト？？</h1>
			<h3>・BuzzLink絆はSNSとソーシャルブックマークを合わせた情報共有サイトです！</h3>
			<h3>・記事投稿、質問投稿、コメント、フォロー・フォワー、いいね、DM機能を搭載！</h3>
			<h3>・投稿された記事をブックマークとして選択したフォルダーに保存できます！</h3>
			<h3>・有用な記事を共有したり、互いに質問しながら、学習に役立てて下さい！
		</div>
		<div class="about_box">
			<h1 class="about_title">レベルアップについて</h1>
			<h3>・マイページにレベルアップ機能を搭載！</h3>
			<h3>・記事投稿、質問投稿、いいねをするとポイントを獲得！</h3>
			<h3>・100ポイント獲得でレベルアップ！</h3>
			<h3>・10レベル上がると…？？</h3>
		</div>
		<div class="about_box">
			<h1 class="about_title">各ページの表示方法</h1>
			<h3>・記事一覧→ ヘッダー左上のロゴから</h3>
			<h3>・マイページ、質問一覧→ ヘッダー右上から</h3>
			<h3>・フォロー・フォロワー一覧、お問い合わせ→ マイページ下部から </h3>
			<h3>・ブックマークした記事の一覧表示→ 左側のフォルダー名をクリック</h3>
		</div>
		<div class="about_box">
			<h1 class="about_title">禁止事項</h1>
			<p>・法令または公序良俗に違反する行為</p>
			<p>・犯罪行為に関連する行為</p>
			<p>・本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</p>
			<p>・サービスの運営を妨害するおそれのある行為</p>
			<p>・他のユーザーに関する個人情報等を収集または蓄積する行為</p>
			<p>・不正アクセスをし，またはこれを試みる行為</p>
			<p>・他のユーザーに成りすます行為</p>
			<p>・本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</p>
			<p>・過度に暴力的な表現</p>
			<p>・露骨な性的表現</p>
			<p>・面識のない異性との出会いや交際を目的とする行為</p>
			<p>・人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現</p>
			<p>・他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為</p>
			<p>・当社，本サービスの他のユーザー，または第三者に不利益，損害または不快感を与えることを目的とする行為</p>
			<p>・その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</p>
			<p>・宗教活動または宗教団体への勧誘行為</p>
		</div>
	</div>
</div>
