<div class= "row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<h1><%=link_to "投稿記事一覧", admin_posts_path, class: "btn btn-default btn-lg btn-block" %></h1>
		<h1><%=link_to "質問一覧", admin_questions_path, class: "btn btn-default btn-lg btn-block" %></h1>
		<h1><%=link_to "お問い合わせ一覧", admin_contacts_path, class: "btn btn-default btn-lg btn-block" %></h1>
	</div>
	<div class="col-lg-2"></div>
</div>