/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

body {
  background-color: black;
  color: #EEEEEE;
  a:hover { text-decoration: none;}
  font-family: 'Exo', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.show {
	display: block;
}
.hidden {
  display : none;
}

.center{
  text-align: center;
}
.col-lg-4 {
  padding: 6px 0;
}
.get_point {
  color: #00ECFF;
}

.modal-header {
  color: #333333;
}

.modal-body {
  color: #333333;
}

.modal-fotter {
  color: #333333;
}

.modal-title {
  color: #333333;
}


.page_title {
  margin-bottom: 0;
}

.folder_move_list {
  display: none;
}

.user-header {
	width: 100%;
	height: 100px;

	background-color: orange;
  position: relative;
  background-size: cover;
  position: relative;
}
.header_logo {
  text-shadow: 1px 0px 0px #005500, 0px 1px 0px #005500, -1px 0px 0px #005500, 0px -1px 0px #005500;
}
.header_logo:hover {
  color: red !important;
}

.nav-list{
    position: absolute;
    right: 30px;
    top: 20px;
}

.nav-list-item {
    font-size: 14px;
    font-weight: bold;
    float: left;
    text-align: right;
    list-style: none;
    padding-left: 15px;
    text-shadow: 1px 0px 0px #005500, 0px 1px 0px #005500, -1px 0px 0px #005500, 0px -1px 0px #005500;
}

.nav-list-item:hover {
  color: red !important
}

.header-search {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: black;
}

.admin-nav-list-item {
  position: absolute;
  right: 20px;
}

.admin-header-search {
  position: absolute;
  left: 10px;
  bottom: 30px;
}

.admin-nav {
  position: absolute;
  right: 30px;
  top: 20px;

}

.registrations-headline{
	font-weight: bold;
}

.flex {
  display: flex;
}

.radius {
　border-radius: 50%;
}

.pagination>li>a {
  color: #696969;
  margin-left: 5px;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.get_gegree {
  color: orange;
}

.follow_profile_image {
  transition: 0.5s;
}

.follow_profile_image:hover {
  width: 12vw;
  height: 12vw;
}

.profile_img{
  transition: 0.5s;
}
.profile_img:hover {
  width: 23vw;
  height: 23vw;
}

.evolution_profile_image_box {
  text-align: center;
  padding: 20px
}

.evolution_info {
  text-align: center;
  color: white;
  margin-top: 0;
}

.evolution_profile_image {
  height: 45vw;
  width: 45vw;
}
.evolution_box{
  width: 100%;
  height: 100%;
  background-color: black;
}

.evolution_profile_image {
  animation: evolution 5s ease-in 0s 1 alternate forwards running;
}

@keyframes evolution {
  0% {
    transform: scale(0.2);
  }

  60% {
    transform: scale(0.5) rotate(-720deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.about_box {
  margin-top: 50px;
}

.about_title {
  position: relative; /* ボックスの位置を指定する */
  padding: .25em 0 .25em .5em; /* ボックス内側余白を指定する(上:右:下:左) */
  border-left: 6px solid orange;
}



