// Place all the styles related to the user/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_contact {
	margin: 0 auto;
}

.completed_btn {
	display: block;
	position: relative;
	width: 270px;
	margin-top: 20px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border:1px solid #1B1B1B;
	border-radius: 5px;
}

.completed_btn:hover {
	 background: orange;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}