// Place all the styles related to the user/folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder.flex {
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
}

.folder_template {
	margin: 10px 0 10px 0;
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #808080;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	margin-top: 75px;
	background-color: white;
}

.folder {
  padding: 0 20px 0 20px
}

.folder_title {
	display: flex;
	margin: 10px;
}

.folder_name {
	font-size: 17px;
	margin: 8px;
	color: #333333;
}

.folder_name:hover {
	background-color: #FF9900;
	color: #fff;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-4px);
    font-size: 22px;
}

.folder_btn {
	margin: 10px 0 20px 27px;
}

.post_btn {
  	display: inline-block;
	width: 100px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-shadow: 0.5px 0px 0px #005500, 0px 0.5px 0px #005500, -0.5px 0px 0px #005500, 0px -0.5px 0px #005500;
	background:#0C88CA;
	border-bottom:4px solid #005691;
	border-radius: 4px;
	transition: .0s;
}

.post_btn:hover {
	cursor: pointer;
	text-decoration: none;
	background:#005691;
	transform: translate3d(0, 4px, 0);
	transition: .0s;
	border-bottom: none;
	color: #fff;
}

.question_btn {
  	display: inline-block;
	width: 100px;
	padding: 10px 5px 10px 5px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	text-shadow: 0.5px 0px 0px #005500, 0px 0.5px 0px #005500, -0.5px 0px 0px #005500, 0px -0.5px 0px #005500;
	background: #40C659;;
	border-bottom: 4px solid #006633;
	border-radius: 4px;
	transition: .0s;
}

.question_btn:hover {
  	cursor: pointer;
	text-decoration: none;
	background: #006633;
	transform: translate3d(0, 4px, 0);
	transition: .0s;
	border-bottom: none;
	color: #fff;
}


