// Place all the styles related to the user/folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder.flex {
	padding-right: 10px;
	justify-content: space-between;
	align-items: center;
}

.folder_template {
	margin: 10px 0 10px 0;
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #808080;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	margin-top: 75px;
	background-color: white;
}

.folder {
  padding: 0 20px 0 20px
}

.folder_title {
	display: flex;
	margin: 10px;
}

.folder_name {
	font-size: 17px;
	margin: 8px;
	color: #333333;
}

.folder_name:hover {
	background-color: #FF9900;
	color: #fff;
}

.folder_btn {
	margin: 10px 0 20px 20px;
}


