// Place all the styles related to the user/folder_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder_list_hidden {
	display: none;
}
.move {
}

.folder_move_list {
}


.post_info_2 {
	display: flex;
}

.folder_move{
	float: left;
}