// Place all the styles related to the user/folder_contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folder_list_hidden {
	display: none;
}
.move {
}

.folder_move_list {
}


.post_info_2 {
	display: flex;
}

.folder_move{
	float: left;
}

.arrow-left {
	margin-right: 3px;
}
.arrow-left span {
	top: 0;
}

.arrow-left span:before {
	font-size: 20px;
}
.post_info_2_form .glyphicon:before {
	font-size: 20px;
}
.show_form form {
	width: 200px;
}
.fav-count {
	display: inline-block;
	font-size: 20px;
}