// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_info_box {
  display: flex;
}



.profile_image {
 margin-right: 20px;
}

.post_info_1 {
  flex-grow: 1;
}


