// Place all the styles related to the user/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_info_box {
  margin: 0 0 20px 50px;
}

.profile_image_box {
 margin-right: 20px;
}

.post_info_1 {
  flex-grow: 1;
  margin-left: 40px;
}


