// Place all the styles related to the user/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_question {
	margin: 0 auto;
}

.question_title_show {
	margin: 5px 0 60px 0;
}

.question_body{
	overflow-wrap: break-word;
}