// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_info {
	margin-left: 20px;
}

.profile_title {
  	margin-top: 0;
    display: inline-block;
    border-bottom: solid 3px orange;
}

.degree {
	display: inline-block;
}

.glyphicon-edit{
	margin-left: 10px;
}

.follow_info {
  margin-left: 50px;
}

.follow_name {
  margin: 10px 0 20px 0 !important;
}

.text_box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px orange;
    border-radius: 8px;
    overflow-wrap: break-word;
}
.text_box .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 17px;
    background: black;
}
.text_box p {
    margin: 0;
    padding: 5px;
}

.user_name {
	border-bottom: double 6px orange;
  text-align: center;
}

.progress{
  margin-bottom: 0 !important;
}

.user_introduction {
  overflow-wrap: break-word;
}

.degree {
  margin: 10px 0 10px 10px ;
  border-bottom: solid 5px #4682B4;
}

.evolution_btn {
  margin-left: 5px;
}

.frame1 {
  border : ridge 10px #CCFFFF;
}
.frame2 {
  border : ridge 10px #00FFFF;
}
.frame3 {
  border : ridge 10px blue;
}
.frame4 {
  border : ridge 10px #CCFF99;
}
.frame5 {
  border : ridge 10px #00FF33;
}
.frame6 {
  border : ridge 10px #007700;
}
.frame7 {
  border : ridge 10px #FF6928;
}
.frame8 {
  border : ridge 10px #FF0033;
}
.frame9 {
  border : ridge 10px #990000;
}
.frame10 {
  border : ridge 10px #800080;
}

.ribbon6 {
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 7px 0;
  margin: 82px 0 20px 18px;
  font-size: 18px;
  background: #78d0f5;
  color: #FFF;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.ribbon6 h1 {
  margin: 0;
  padding: 0 30px;
  border-top: dashed 2px rgba(255, 255, 255, 0.5);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
  line-height: 42px;
}

.ribbon6:before, .ribbon6:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 1;
}

.ribbon6:before {
  top: -2px;
  left: -2px;
  border-width: 32px 0px 32px 15px;
  border-color: transparent transparent transparent black;
  border-style: solid;
}

.ribbon6:after {
  top: -2px;
  right: -2px;
  border-width: 32px 15px 32px 0px;
  border-color: transparent black transparent transparent;
  border-style: solid;
}