// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_info {
	display: flex;
}

.profile_title {
	display: inline-block;
}

.degree {
	display: inline-block;
}


.frame1 {}
.frame2 {}
.frame3 {}
.frame4 {}
